# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/conf/

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/public/storybook
/storybook-static

# misc
.DS_Store
*.pem
.idea/
.eslintcache
.db
tsconfig.tsbuildinfo

# debug
npm-debug.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel



.dccache

dist/

graphql-engine.tix
traefik/logs/access.log
monitoring/alertmanager/config.yml
traefik/data/logs/access.log
traefik/data/acme.json
mqtt/config/password_file
.gitignore
mqtt/config/mosquitto.conf
mqtt/logs/mosquitto.log
rtl-433/rtl_433.conf
